.abo {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;

    &:hover .background {
        clip-path: circle(500px at 0 0);
    }

    & .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        clip-path: circle(10px at 0 0);
        transition: all .5s linear;
    }
}